.banner{
    background-image: url('../../resources/bannerbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 55vh;
    margin: auto;
}
